[Desktop Entry]
Version=1.4
Type=Application
Name=SpaceCadetPinball
Comment=Reverse engineered port of "3D Pinball for Windows – Space Cadet" to Linux
Icon=Icon_128x128.png
Exec=SpaceCadetPinball
Categories=Game;
